/*VARIABLES*/
:root {
  --principal-font: "Roboto Mono", monospace;
  --secondary-font: "Inter", sans-serif;
  --success: #2E7D32;
  --medium: #66BB6A;
  --warning: #8D6E63;
  --danger: #4E342E;
  --background: #EFEBE9;
  --surface: #D7CCC8;
  --text: #3E2723;
  --text-light: #FFF;
}

/*GLOBAL*/
*, *::before, *::after {
  box-sizing: border-box;
}	

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  font-family: var(--secondary-font);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}